@page
@model Exercise3.Pages.EditModel
@{
}
<div class="container">
    <h1>Update Customer Information</h1>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Customer.CustomerId" />
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="Customer.Name" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" asp-for="Customer.Address" />
        </div>
        <div class="form-group">
            <label>CheckIn</label>
            <input class="form-control" asp-for="Customer.CheckIn" />
        </div>
        <div class="form-group">
            <label>CheckOut</label>
            <input class="form-control" asp-for="Customer.CheckOut" />
        </div>
        <div class="form-group">
            <label>RoomNumber</label>
            <input class="form-control" asp-for="Customer.RoomNumber" />
        </div>
        <div class="form-group">
            <label>EmailAddress</label>
            <input class="form-control" asp-for="Customer.EmailAddress" />
        </div>
        <div class="form-group">
            <label>Billing</label>
            <input class="form-control" asp-for="Customer.Billing" />
        </div>
        <button class="btn btn-primary btn-block" type="submit">Update</button>
    </form>
</div>